@media only screen and (max-width: 1045px) {

    .customer-reference .one-reference {
        width: 49%;
    }

    .last-reference p, .last-reference .review-3 {
        display: none;
    }

}

@media only screen and (max-width: 1017px) and (min-width: 904px) {

    .review-1 {
        margin-top: 72px;
    }
}


@media only screen and (max-width: 1000px) {

    nav ul {
        float: none;
        z-index: 100;
    }

    nav ul li {
        display: block;
    }

    .navbar-bg {
        /* display: none; */
    }

    .mobile-nav-back {
        height: 238px;
        position: fixed;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        border-bottom: 2px solid #fff;
        z-index: 50;
        display: none;
    }

    .mobile-nav-icon {
        display: inline-block;
        z-index: 200;
        position: fixed;
    }

    nav ul {
        display: none;
    }

}



@media only screen and (max-width: 800px) {
    .photo-gallery ul li {
        width: 49%;
    }
}


@media only screen and (max-width: 710px) {

    .paragraphs article {
        width: 98%;
    }

    .paragraphs .second {
        margin-left: 0;
    }

}

@media only screen and (max-width: 691px) {

    .customer-reference .one-reference {
        width: 98%;
    }
    
    .customer-reference .second-reference {
        margin-left: 0;
        margin-top: 40px;
    }
    
    .review-1 {
        margin-top: 15px;
    }

}


@media only screen and (max-width: 650px) {

    .header-text .btn {
        display: block;
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .header-text {
        width: 96%;
        transform: translate(0%, 0%);
        left: 0%;
    }

    .header-text h1 {
        text-align: center;
        width: 100%;
    }

}



@media only screen and (max-width: 600px) {

    .our-service-photo .one-service-photo {
        width: 100%;
    }

}

@media only screen and (max-width: 500px) {
    
    .photo-gallery ul li {
        width: 98%;
    }
       
}

@media only screen and (max-width: 480px) {

    .paragraphs article {
        margin-bottom: 10px;
    }    

}

@media only screen and (max-width: 365px) {

    .cost h3 {
        font-size: 20px;
    }

    .cost p {
        font-size: 17px;
    }

    .header-text h1 {
        font-size: 30px;
    }

}